body {
	background-color: #7a7a7a;
}

.background {
	width: 1500px;
	height: 695px;
	margin: auto;
	top: 17px;
	left: 0;
	right: 0;
	background: #393939 ;
	z-index: -1;
	position: absolute;
}

.long-background {
	width: 1500px;
	background: #393939 ;
	top: 17px;
	bottom: -3000px;
	z-index: -1;
	position: absolute;
}

.title {
	font-family: courier header, sans-serif;
	color: #ff6969;
	position: relative;
	
}

h1{
	position: relative;
	margin-left: 20px;
}

h3 {
	position: relative;
	margin-left: 120px;
}

p {
	font-family: courier header, sans-serif;
	position: relative;
	margin-left: 0px;
	color:  #f2f2f2 ;
}

.overall-leaderboards {
	font-family: Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
}
table {
	color: #f2f2f2;
}

.footer {
	font-family: courier header, sans-serif;
	color: white; 
	position: absolute;
	top: 678px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	opacity: 0.5;
}

	